@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("AddService", "Service", FormMethod.Post))
{
     <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hizmet Ekleme Sayfası</h4>

                <div class="form-group">
                    <br />
                    <br />

                    @Html.Label("Hizmet Başlığı")
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                    <br />

                    @Html.Label("Resim Yolu ")
                    @Html.TextBoxFor(x => x.ImageURl, new { @class = "form-control" })

                    <br />
                    <br />
                    <button class="btn btn-outline-succsess">Kaydet</button>
                </div>
            </div>
        </div>

    </div>

}